$colorBlockA: #578fca;
$colorBlockB: #809d3c;
$colorBlockC: #d2665a;
$colorBlockD: #8174a0;
$colorNonBlock: #ffffff;
$colorBlockBorder: #fada7a;
$colorBlockScrim: #ffffff66;

$gradientBackground: linear-gradient(28deg, #2e0b87, #4080cf);
