$colorBlockA: #578fca;
$colorBlockB: #809d3c;
$colorBlockC: #d2665a;
$colorBlockD: #8174a0;
$colorNonBlock: #ffffff;
$colorBlockBorderInactive: transparent;
$colorBlockBorderActive: #fada7a;
$colorBlockScrim: #ffffff80;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorDisplay: #595959;
$colorShortcutKey: #ffffff80;
$colorGamePad: rgba(0, 0, 0, 0.1);
$colorGamePadShadow: rgba(0, 0, 0, 0.4);
$colorGamePadButton: #bababa;
$colorGamePadButtonHover: #9a9a9a;
$colorGamePadButtonActive: #737373;

$gradientBackground: linear-gradient(28deg, #2e0b87, #4080cf);

$sizeBlockBorder: 2px;
$sizeCell: 50px;
$sizeEmoji: 30px;
$sizeGamePadButtonBorder: 1px;
$sizeGamePadButton: 40px;
$sizeGamePadButtonRound: 45px;

$integerRows: 5;
$integerColumns: 5;
